# Ćwiczenia 4: Tablice dwuwymiarowe

### Funkcje pomocnicze

In [1]:
from math import isqrt, log

def is_prime(num):
    if num <= 1:
        return False
    if num == 2 or num == 3:
        return True
    if num%2 == 0 or num%3 == 0:
        return False
    i = 5
    while i < isqrt(num) + 1:
        if num % i == 0:
            return False
        i += 2
        if num % i == 0:
            return False
        i += 4
    return True

## Zadania Obowiązkowe

### Zadanie 1. Dana jest tablica $T[N][N]$. Proszę napisać funkcję wypełniającą tablicę kolejnymi liczbami naturalnymi po spirali.

In [34]:
def spiral1(n, count):
    tab = [[0]*n for _ in range(n)]
    print(tab)
    print("****")
    maxi = n**2 - 1
    x, y = 0, 0
    while count <= maxi:
        while x < n-1 and tab[y][x+1]==0:
            tab[y][x] = count
            x += 1 
            print(tab)
            count += 1
        while y < n-1 and tab[y+1][x]==0:
            tab[y][x] = count
            y+= 1
            count +=1
        
        while x > 0 and tab[y][x-1] == 0:
            tab[y][x] = count
            x -= 1
            count -= 1
        
        while y>0 and tab[y-1][x] == 0:
            tab[y][x] = count
            y -= 1
            count += 1
    return tab

# print(spiral1(5, 1))

### Zadanie 2. Dana jest tablica $T[N][N]$ wypełniona liczbami naturalnymi. Proszę napisać funkcję, która odpowiada na pytanie, czy w każdym wierszu tablicy występuje co najmniej jedna liczba złożona wyłącznie z nieparzystych cyfr.

In [3]:
def only_odd(num):
    while num > 0:
        if (num % 10) % 2 == 0:
            return False
        num //= 10
    return True

def only_odd_in_row(T):
    n = len(T)
    for i in range(n):
        flag = False
        for j in range(n):
            if only_odd(T[i][j]):
                flag = True
        if not flag:
            return False
    return True
        
tab = [[22, 33, 44],
       [22, 33, 44],
       [22, 33, 44]]

print(only_odd_in_row(tab))

True

### Zadanie 3. Dana jest tablica $T[N][N]$ wypełniona liczbami naturalnymi. Proszę napisać funkcję, która odpowiada na pytanie, czy istnieje wiersz w tablicy w którym każda z liczb zawiera przynajmniej jedna cyfrę parzystą.

In [4]:
def one_even(num):
    while num > 0:
        if (num % 10) % 2 == 0:
            return True
        num //= 10
    return False

def at_least_one_even(T):
    n = len(T)
    main_flag = False
    for i in range(n):
        secondary_flag = True
        for j in range(n):
            if not one_even(T[i][j]):
                secondary_flag = False
        if secondary_flag:
            main_flag = True
    return main_flag


tab = [[22, 34, 44],
       [22, 33, 44],
       [22, 33, 44]]
print(at_least_one_even(tab))

True

### Zadanie 4. Dana jest tablica $T[N][N]$ wypełniona liczbami naturalnymi. Proszę napisać funkcję, która zwraca wiersz i kolumnę dowolnego elementu, dla którego iloraz sumy elementów w kolumnie w którym leży element do sumy elementów wiersza w którym leży element jest największa.

In [5]:
def sum_of_column(T, n, j):
    total = 0
    for k in range(n):
        total += T[k][j]
    return total

def sum_of_row(T, n, i):
    total = 0
    for k in range(n):
        total += T[i][k]
    return total
    
def column_row_quotient(T):
    n = len(T)
    max_quotient = 0
    best_i = 0
    best_j = 0
    for i in range(n):
        for j in range(n):
            quotient = sum_of_column(T, n, j) / sum_of_row(T, n, i)
            if quotient > max_quotient:
                max_quotient = quotient
                best_i = i 
                best_j = j
        return i, j, max_quotient



tab = [[1, 1, 1],
       [2, 2, 3],
       [1, 2, 3]]

col1 = [row[1] for row in tab]
print(column_row_quotient(tab))

(0, 2, 2.3333333333333335)

### Zadanie 5. Poprzednie zadanie z tablicą wypełnioną liczbami całkowitymi.

In [6]:
def sum_of_column(T, n, j):
    total = 0
    for k in range(n):
        total += T[k][j]
    return total

def sum_of_row(T, n, i):
    total = 0
    for k in range(n):
        total += T[i][k]
    return total
    
def column_row_quotient(T):
    n = len(T)
    max_quotient = 0
    best_i = 0
    best_j = 0
    for i in range(n):
        for j in range(n):
            row = sum_of_row(T, n, i)
            if row == 0:
                continue
            quotient = sum_of_column(T, n, j) / row
            if quotient > max_quotient:
                max_quotient = quotient
                best_i = i 
                best_j = j
        return best_i, best_j, max_quotient

tab = [[1, 1, 1],
       [2, -2, 1],
       [1, 2, 1]]

print(column_row_quotient(tab))

(0, 0, 1.3333333333333333)

### Zadanie 6. Dane są dwie tablice mogące pomieścić taką samą liczbę elementów: $T_1[N][N]$ i $T_2[M]$, gdzie $M=N\cdot N$. W każdym wierszu tablicy $T_1$ znajdują się uporządkowane rosnąco (w obrębie wiersza) liczby naturalne. Proszę napisać funkcję przepisującą wszystkie singletony (liczby występujące dokładnie raz) z tablicy $T_1$ do $T_2$, tak aby liczby w tablicy $T_2$ były uporządkowane rosnąco. Pozostałe elementy tablicy $T_2$ powinny zawierać zera.

In [46]:
import math

def zad6(T1, n):
    T2 = [0]*(n**2)
    wsk = [0]*n
    k = 0
    while True:
        
        min = math.inf
        min_i = -1
        for i in range(1,n):
            if wsk[i] < n and T1[i][wsk[i]] < min:
                min_i = i
                min = T1[i][wsk[i]]
        T2[k] = min
        wsk[k]+=1
        k+=1
        if min_i == -1:
            break
    return T2
            
tab = [[2, 3, 4],
       [1, 2, 3],
       [7, 8, 9]]

# print(zad6(tab, 3))

### Zadanie 7. Dane są dwie tablice mogące pomieścić taką samą liczbę elementów: $T_1[N][N]$ i $T_2[M]$, gdzie $M=N \cdot N$. W każdym wierszu tablicy $T_1$ znajdują się uporządkowane niemalejąco (w obrębie wiersza) liczby naturalne. Proszę napisać funkcję przepisującą wszystkie liczby z tablicy $T_1$ do $T_2$, tak aby liczby w tablicy $T_2$ były uporządkowane niemalejąco.

In [8]:
# x

### Zadanie 8. Dana jest tablica $T[N][N]$ wypełniona liczbami naturalnymi. Proszę napisać funkcję, która w poszukuje w tablicy najdłuższego ciągu geometrycznego leżącego ukośnie w kierunku prawo-dół, liczącego co najmniej $3$ elementy. Do funkcji należy przekazać tablicę. Funkcja powinna zwrócić informacje czy udało się znaleźć taki ciąg oraz długość tego ciągu.

In [9]:
# x

### Zadanie 9. Dana jest tablica $T[N][N]$ wypełniona liczbami naturalnymi. Proszę napisać funkcję, która w poszukuje w tablicy kwadratu o liczbie pól będącej liczbą nieparzystą większą od $1$, którego iloczyn $4$ pól narożnych wynosi $k$. Do funkcji należy przekazać tablicę i wartość $k$. Funkcja powinna zwrócić informacje czy udało się znaleźć kwadrat oraz współrzędne (wiersz, kolumna) środka kwadratu.

In [10]:
# x

### Zadanie 10. Napisać funkcję która dla tablicy $T[N][N]$, wypełnionej liczbami całkowitymi, zwraca wartość True w przypadku, gdy w każdym wierszu i każdej kolumnie występuje co najmniej jedno $0$ oraz wartość False w przeciwnym przypadku.

In [11]:
def column_row_zero(T):
    n = len(T)
    col = [False for _ in range(n)]
    row = [False for _ in range(n)]
    for i in range(n):
        for j in range(n):
            if T[i][j] == 0:
                row[i] = True
                col[j] = True
    return not ((False in row) or (False in col))

tab = [[1, 0, 1],
       [0, 1, 0],
       [1, 1, 0]]
print(column_row_zero(tab))

True

### Zadanie 11. Dwie liczby naturalne są „przyjaciółkami" jeżeli zbiory cyfr z których zbudowane są liczby są identyczne. Na przykład: $123$ i $321$, $211$ i $122$, $35$ i $3553$. Dana jest tablica $T[N][N]$ wypełniona liczbami naturalnymi. Proszę napisać funkcję, która dla tablicy $T$ zwraca ile elementów tablicy sąsiaduje wyłącznie z przyjaciółkami

In [12]:
# x

### Zadanie 12. Dana jest tablica $T[N][N][N]$. Proszę napisać funkcję, do której przekazujemy tablicę wypełnioną liczbami większymi od zera. Funkcja powinna zwracać wartość True, jeżeli na wszystkich poziomach tablicy liczba elementów sąsiadujących (w obrębia poziomu) z co najmniej $6$ liczbami złożonymi jest jednakowa albo wartość False w przeciwnym przypadku.

In [13]:
# x

### Zadanie 13. Liczby naturalne $a,b$ są komplementarne jeżeli ich suma jest liczbą pierwszą. Dana jest tablica $T[N][N]$ wypełniona liczbami naturalnymi. Proszę napisać funkcję, która zeruje elementy nie posiadające liczby komplementarnej.

In [14]:
# x

### Zadanie 14. Dwie liczby naturalne są zgodne jeżeli w zapisie dwójkowym zawierają tę samą liczbę jedynek, np. $22 = 10110_{(2)}$ i $14 = 1110_{(2)}$. Dane są tablice $T_1[N_1][N_1]$ oraz $T_2[N_2][N_2]$, gdzie $N_2¿N_1$. Proszę napisać funkcję, która sprawdza czy istnieje takie położenie tablicy $T_1$ wewnątrz tablicy $T_2$, przy którym liczba zgodnych elementów jest większa od $33\% $. Do funkcji należy przekazać tablicę $T_1$ i $T_2$. Obie oryginalne tablice powinny pozostać nie zmieniane.

In [15]:
# x

### Zadanie 15. Dana jest tablica $T[N][N]$, wypełniona liczbami naturalnymi. Proszę napisać funkcję, która odpowiada na pytanie, czy w tablicy istnieje wiersz, w którym każda liczba zawiera co najmniej jedną cyfrę będącą liczbą pierwszą?

In [16]:


def one_prime(num):
    while num > 0:
        if is_prime(num % 10):
            return True
        num //= 10
    return False

def one_prime_tab(T):
    n = len(T)
    main_flag = False
    for i in range(n):
        secondary_flag = True
        for j in range(n):
            if not one_prime(T[i][j]):
                secondary_flag = False
        if secondary_flag == True:
            main_flag = True
    return main_flag
        
tab = [[4, 4, 4],
       [3, 2, 3],
       [4, 4, 4]]
print(one_prime_tab(tab))

True

### Zadanie 16. Dana jest tablica $T[N][N]$, wypełniona liczbami naturalnymi. Proszę napisać funkcję która odpowiada na pytanie, czy w tablicy każdy wiersz zawiera co najmniej jedną liczbą złożoną wyłącznie z cyfr będących liczbami pierwszymi?

In [17]:
def only_primes(num):
    while num > 0:
        if not is_prime(num % 10):
            return False
        num //= 10
    return True

def only_primes_in_rows(T):
    n = len(T)
    main_flag = True
    for i in range(n):
        secondary_flag = False
        for j in range(n):
            if only_primes(T[i][j]):
                secondary_flag = True
        if secondary_flag == False:
            main_flag = False
    return main_flag

tab = [[222, 444, 444],
       [222, 444, 444],
       [222, 444, 444]]
print(only_primes_in_rows(tab))

True

### Zadanie 17. Dana jest tablica $T[N][N]$ wypełniona liczbami naturalnymi. Proszę napisać funkcję która zwraca wiersz i kolumnę dowolnego elementu, dla którego suma otaczających go elementów jest największa.

In [18]:
# x

### Zadanie 18. Dana jest tablica $T[N][N]$ wypełniona liczbami całkowitymi. Proszę napisać funkcję, która wyszuka spójny podciąg elementów leżący poziomo lub pionowo o największej sumie. Maksymalna długość podciągu może wynosić $10$ elementów. Do funkcji należy przekazać tablicę $T$, funkcja powinna zwrócić sumę maksymalnego podciągu.

In [19]:
# x

### Zadanie 19. Dana jest tablica $T[N][N]$ wypełniona liczbami naturalnymi. Proszę napisać funkcję, która zwraca liczbę par elementów, o określonym iloczynie, takich że elementy są odległe o jeden ruch skoczka szachowego.

In [20]:
# x

### Zadanie 20. Dana jest tablica $T[N][N]$ (reprezentująca szachownicę) wypełniona liczbami naturalnymi. Proszę napisać funkcję która ustawia na szachownicy dwie wieże, tak aby suma liczb na „szachowanych” przez wieże polach była największa. Do funkcji należy przekazać tablicę, funkcja powinna zwrócić położenie wież. Uwaga - zakładamy, że wieża szachuje cały wiersz i kolumnę z wyłączeniem pola na którym stoi

In [21]:
# x